#main{

    display: flex;
    
    justify-content: center;
    align-content: center;



}

#newCategoryDiv{
    display: none;
}

input {
    padding: 5px;
    font-size: 16px;
}
#categoryTitle{
    display: none;
}
