<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add users</title>
    <link rel="stylesheet" href="/css/addQuestion.css">
    <!-- <script src="/js/addQuestion.js"></script> -->
</head>

<body>

    <div id="main">

        <form id="userForm" method="POST">
            <label>About Privilege</label><br>
            <select name="p" id="privilege">
                <option value="0">Admin</option>
                <option value="1">Test</option>
                <option value="2">Regular</option>

            </select> <br>

            <br>

            <input type="text" name="sm" placeholder="Social Network"><br>
            <input type="text" name="smId" placeholder="Social Network ID"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="text" name="name" placeholder="Name"><br>

            <input type="submit" value="Submit">



        </form>
    </div>
</body>

</html>