<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add questions</title>
    <link rel="stylesheet" href="/css/addQuestion.css">
</head>

<body>

    <div id="main">

        <form id="questionForm" method="GET">
            <label>About Category</label><br>
            <select name="category" id="category">
                <option value="-1">Choose a category</option>
                <% if(categories.length >0){
                
                for(let category of categories){
                    var id  = category.id;
                    var categoryTitle = category.title;
                   
                %>
                <option value=`${id}`>
                    <%=
                `${categoryTitle}`
                %>
                </option>
                <%}}%>
            </select> <br><br>
            <label>About question</label><br>
            <input type=" text" name="question" placeholder="Question"><br>
            <input type="text" name="answer" placeholder="Correct Answer"><br>
            <input type="text" name="otherOptions" placeholder="Other options separated by _"><br>
            <input type="text" name="tags" placeholder="tags separated by _"><br><br>
            <label>About Status</label><br>
            <select name="status" id="status">
                <option value="0">Submitted</option>
                <option value="1">In Review</option>
                <option value="2">Approved</option>
            </select><br><br>
            <input type="submit" value="Submit">



        </form>
    </div>
</body>

</html>